
<ion-view view-title="提优训练">
  <ion-content>
    <div class="list">

      <a class="item" href="#">
        <img src="http://www.edlut.cn:8010/dluteasys/file/examQuestion/20130506140856_448.jpg">
      </a>
      <ul class="list">
        <li class="item item-checkbox">
          <label class="checkbox">
            <input type="radio" name="group">
          </label>
          A
        </li>
        <li class="item item-checkbox">
          <label class="checkbox">
            <input type="radio" name="group">
          </label>
          B
        </li>
        <li class="item item-checkbox">
          <label class="checkbox">
            <input type="radio" name="group">
          </label>
          C
        </li>
        <li class="item item-checkbox">
          <label class="checkbox">
            <input type="radio" name="group">
          </label>
          D
        </li>
      </ul>


      <a class="item" href="#">
        <img src="http://www.edlut.cn:8010/dluteasys/file/examQuestion/20130506163014_950.jpg">
      </a>
      <ul class="list">
        <li class="item item-checkbox">
          <label class="checkbox">
            <input type="radio" name="group">
          </label>
          A
        </li>
        <li class="item item-checkbox">
          <label class="checkbox">
            <input type="radio" name="group">
          </label>
          B
        </li>
        <li class="item item-checkbox">
          <label class="checkbox">
            <input type="radio" name="group">
          </label>
          C
        </li>
        <li class="item item-checkbox">
          <label class="checkbox">
            <input type="radio" name="group">
          </label>
          D
        </li>
      </ul>

      <a class="button button-positive" href="#/tab/answer/1">
        答案解析
      </a>
    </div>
  </ion-content>
</ion-view>
