
<ion-view view-title="题目分析">
  <ion-content>
    <div class="list card">

      <div class="item item-body">
        <img class="full-image" src="http://www.edlut.cn:8010/dluteasys/file/examQuestion/20130506163014_950.jpg">
        <p>
          <a href="#" class="subdued">我的答案：C</a>
          <a href="#" class="subdued">正确答案：A</a>
        </p>
        <p>
          详细解析：This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
        </p>
        <p>
          未掌握知识点：This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
        </p>
        <p>
          未掌握能力点：This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
        </p>
      </div>

    </div>
  </ion-content>
</ion-view>
