<style>
    table{width:80%; border:solid #d1d3d6; border-width:1px 0px 0px 1px; margin: 20px auto}
    td{border:solid #d1d3d6; border-width:0px 1px 1px 0px; padding-left:10px; text-align: center}
</style>

<ion-view view-title="班级统计">
    <ion-content class="padding">
        <table>
            <tr>
                <td></td>
                <td>知识点</td>
                <td>分值占比</td>
                <td>个人得分</td>
                <td>个人得分率</td>
                <td>班级平均分</td>
                <td>班级得分率</td>
                <td>学校平均分</td>
                <td>学校得分率</td>
            </tr>
            <tbody ng-repeat="item in data.kpPerScoreAbility">
            <tr ng-repeat="i in item.detail">
                <td ng-if="$index == 0" rowspan="{{item.detail.length}}" style="text-align: center;vertical-align:middle;">
                    <a href="#/tab/student/{{item.stuid}}">{{item.stuname}}</a>
                </td>
                <td>{{i.kpname}}</td>
                <td>{{i.kpSchProp}}</td>
                <td>{{i.kpPerSumScore}}</td>
                <td>{{i.kpPerScore}}</td>
                <td>{{i.kpClassAvgScore}}</td>
                <td>{{i.kpClassScore}}</td>
                <td>{{i.kpSchAvgScore}}</td>
                <td>{{i.kpSchScore}}</td>
            </tr>
            </tbody>
        </table>

    </ion-content>
</ion-view>
