
<ion-view view-title="题目分析">
  <ion-content>
    <div class="list card">

      <div class="item item-body" ng-repeat="item in data">
        <p>
          第{{$index+1}}题
        </p>
        <img class="full-image" ng-src="{{item.url}}">
        <p>
          <a href="#" class="subdued">我的答案：{{item.myAnswer}}</a>
          <a href="#" class="subdued">正确答案：{{item.answer}}</a>
        </p>
        <p>
          详细解析：{{item.analysis}}
        </p>
        <p>
          未掌握知识点：This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
        </p>
        <p>
          未掌握能力点：This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
        </p>
      </div>

    </div>
  </ion-content>
</ion-view>
