<style>
  .hor-center{
    text-align:center;
  }

  .ver-center{
    height: 4em;
    line-height: 4em;
    overflow: hidden;
  }

  .bg{
    background:#FFF3D1;
  }
</style>

<ion-view view-title="课堂效果大数据分析">
  <ion-content class="">
    <div class="row">
      <div class="col hor-center ver-center">姓名：张三</div>
      <div class="col hor-center ver-center">班级：四（一）班</div>
      <div class="col col-50">
        <label class="item item-input item-select">
          <div class="input-label">
            学科
          </div>
          <select>
            <option selected>语文</option>
            <option>数学</option>
            <option>英语</option>
            <option>物理</option>
            <option>化学</option>
          </select>
        </label>
      </div>
    </div>

    <div class="row responsive-sm">
      <div class="col ver-center">试卷名称</div>
      <div class="col ver-center">测试时间</div>
    </div>

    <div class="list">
      <a class="item" href="#/tab/home/paper/1">
        <div class="row responsive-sm">
          <div class="col">初一上学期语文期末复习测试卷</div>
          <div class="col">2015-9-2</div>
        </div>
      </a>
      <a class="item" href="#">
        <div class="row responsive-sm">
          <div class="col">初一上学期语文期末复习测试卷</div>
          <div class="col">2015-9-2</div>
        </div>
      </a>
      <a class="item" href="#">
        <div class="row responsive-sm">
          <div class="col">初一上学期语文期末复习测试卷</div>
          <div class="col">2015-9-2</div>
        </div>
      </a>
      <a class="item" href="#">
        <div class="row responsive-sm">
          <div class="col">初一上学期语文期末复习测试卷</div>
          <div class="col">2015-9-2</div>
        </div>
      </a>
    </div>
  </ion-content>
</ion-view>
