<style>
    table{width:80%; border:solid #d1d3d6; border-width:1px 0px 0px 1px; margin: 20px auto}
    td{border:solid #d1d3d6; border-width:0px 1px 1px 0px; padding-left:10px; text-align: center}
</style>

<ion-view view-title="班级统计">
    <ion-content class="padding">
        <table>
            <tr>
                <td></td>
                <td>能力点</td>
                <td>分值占比</td>
                <td>个人得分</td>
                <td>个人得分率</td>
                <td>班级平均分</td>
                <td>班级得分率</td>
                <td>学校平均分</td>
                <td>学校得分率</td>
            </tr>
            <tr><td rowspan="5" style="text-align: center;vertical-align:middle;">
                <a href="#/tab/student/1">张三</a>
            </td><td>能力点1</td><td>14%</td><td>12</td><td>85.71%</td><td>11</td><td>78.57%</td><td>78.57%</td><td>78.57%</td></tr>
            <tr><td>能力点1</td><td>14%</td><td>12</td><td>85.71%</td><td>11</td><td>78.57%</td><td>78.57%</td><td>78.57%</td></tr>
            <tr><td>能力点1</td><td>14%</td><td>12</td><td>85.71%</td><td>11</td><td>78.57%</td><td>78.57%</td><td>78.57%</td></tr>
            <tr><td>能力点1</td><td>14%</td><td>12</td><td>85.71%</td><td>11</td><td>78.57%</td><td>78.57%</td><td>78.57%</td></tr>
            <tr><td>能力点1</td><td>14%</td><td>12</td><td>85.71%</td><td>11</td><td>78.57%</td><td>78.57%</td><td>78.57%</td></tr>

            <tr><td rowspan="5" style="text-align: center;vertical-align:middle;">
                <a href="#/tab/student/1">李四</a>
            </td><td>能力点1</td><td>14%</td><td>12</td><td>85.71%</td><td>11</td><td>78.57%</td><td>78.57%</td><td>78.57%</td></tr>
            <tr><td>能力点1</td><td>14%</td><td>12</td><td>85.71%</td><td>11</td><td>78.57%</td><td>78.57%</td><td>78.57%</td></tr>
            <tr><td>能力点1</td><td>14%</td><td>12</td><td>85.71%</td><td>11</td><td>78.57%</td><td>78.57%</td><td>78.57%</td></tr>
            <tr><td>能力点1</td><td>14%</td><td>12</td><td>85.71%</td><td>11</td><td>78.57%</td><td>78.57%</td><td>78.57%</td></tr>
            <tr><td>能力点1</td><td>14%</td><td>12</td><td>85.71%</td><td>11</td><td>78.57%</td><td>78.57%</td><td>78.57%</td></tr>
        </table>

    </ion-content>
</ion-view>
