
<style>
  table{width:80%; border:solid #d1d3d6; border-width:1px 0px 0px 1px; margin: 20px auto}
  td{border:solid #d1d3d6; border-width:0px 1px 1px 0px; padding-left:10px; text-align: center}
</style>

<ion-view view-title="试卷">
  <ion-content>
    <div class="list">
      <div class="item item-button-right">
        {{data.testpapername}}
        <a class="button button-positive" href="#/tab/wrong">
          错题详情分析
        </a>
      </div>
    </div>

    <table>
      <tr><td colspan="4" style="color:#5576ba;">考试成绩</td></tr>
      <tr>
        <td>学科</td>
        <td>试卷名称</td>
        <td>得分</td>
        <td>班级档次</td>
      </tr>
      <tr>
        <td>{{data.subjects}}</td>
        <td>{{data.testpapername}}</td>
        <td>{{data.score}}</td>
        <td>{{data.score >= 90 ? 'A' :
          (data.score >= 80 && data.score < 90) ? 'B' :
          (data.score >= 70 && data.score < 80) ? 'C' :
          (data.score >= 60 && data.score < 70) ? 'D' : 'E'}}</td>
      </tr>
    </table>

    <table>
      <tr><td colspan="5" style="color:#5576ba">质量基础统计表</td></tr>
      <tr>
        <td>平均分</td>
        <td>最高分</td>
        <td>最低分</td>
        <td>优秀率</td>
        <td>及格率</td>
      </tr>
      <tr>
        <td>{{data.avg_score}}</td>
        <td>{{data.max_score}}</td>
        <td>{{data.min_score}}</td>
        <td>{{data.excellence_rate}}</td>
        <td>{{data.pass_rate}}</td>
      </tr>
    </table>

    <highchart id="chart" config="chartConfig" style="height: 240px"></highchart>
  </ion-content>
</ion-view>
