
<ion-view view-title="提优训练">
  <ion-content>
    <div class="list">

      <div ng-repeat="item in data">

        <a class="item" href="#">
          <img ng-src="{{item.url}}">
        </a>
        <ul class="list">
          <li class="item item-checkbox">
            <label class="checkbox">
              <input type="radio" name="group">
            </label>
            A
          </li>
          <li class="item item-checkbox">
            <label class="checkbox">
              <input type="radio" name="group">
            </label>
            B
          </li>
          <li class="item item-checkbox">
            <label class="checkbox">
              <input type="radio" name="group">
            </label>
            C
          </li>
          <li class="item item-checkbox">
            <label class="checkbox">
              <input type="radio" name="group">
            </label>
            D
          </li>
        </ul>
      </div>

      <a class="button button-positive" href="#/tab/answer/1">
        答案解析
      </a>
    </div>
  </ion-content>
</ion-view>
