
<style>
  table{width:80%; border:solid #d1d3d6; border-width:1px 0px 0px 1px; margin: 20px auto}
  td{border:solid #d1d3d6; border-width:0px 1px 1px 0px; padding-left:10px; text-align: center}
</style>

<ion-view view-title="数据分析">
  <ion-content>
    <div class="row">
      <div class="col">
        <label class="item item-input item-select">
          <div class="input-label">
            学期
          </div>
          <select>
            <option selected>上学期</option>
            <option>下学期</option>
          </select>
        </label>
      </div>
      <div class="col">
        <label class="item item-input item-select">
          <div class="input-label">
            学科
          </div>
          <select>
            <option>Blue</option>
            <option selected>Green</option>
            <option>Red</option>
          </select>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="item item-input item-select">
          <div class="input-label">
            年级
          </div>
          <select>
            <option>Blue</option>
            <option selected>Green</option>
            <option>Red</option>
          </select>
        </label>
      </div>
      <div class="col">
        <label class="item item-input item-select">
          <div class="input-label">
            试卷
          </div>
          <select>
            <option>Blue</option>
            <option selected>Green</option>
            <option>Red</option>
          </select>
        </label>
      </div>
    </div>

    <button class="button button-block">
      查询
    </button>

    <table>
      <tr><td colspan="4" style="color:#5576ba;">考试成绩</td></tr>
      <tr>
        <td>学科</td>
        <td>试卷名称</td>
        <td>得分</td>
        <td>班级档次</td>
      </tr>
      <tr>
        <td>英语</td>
        <td>第一单元测评卷</td>
        <td>96</td>
        <td>A</td>
      </tr>
    </table>

    <table>
      <tr><td colspan="5" style="color:#5576ba">质量基础统计表</td></tr>
      <tr>
        <td>平均分</td>
        <td>最高分</td>
        <td>最低分</td>
        <td>优秀率</td>
        <td>及格率</td>
      </tr>
      <tr>
        <td>82</td>
        <td>100</td>
        <td>58</td>
        <td>87%</td>
        <td>80%</td>
      </tr>
    </table>

    <highchart id="chart" config="chartConfig" style="height: 240px"></highchart>
  </ion-content>
</ion-view>
