<ion-view view-title="错题分析">
  <ion-content>
    <div class="list">

      <div ng-repeat="item in data">
        <div class="item item-divider">
          第{{$index+1}}题
        </div>
        <img ng-src="{{item.url}}">
        <div class="item">
          <i class="icon ion-close-circled"></i>回答错误
        </div>
        <div class="item">
          我的答案：{{item.stuanswer}}
        </div>
        <div class="item">
          <font color="green">正确答案：{{item.answers}}</font>
        </div>
        <div class="item">
          详细解析：{{item.analysis}}
        </div>
        <div class="item">
          未掌握的知识点：{{item.kpname}}
        </div>
        <div class="item">
          未掌握的能力点：{{item.pn_content}}
        </div>
        <div class="item">
          <a class="button button-positive" href="#/tab/exercise/{{$index}}/{{item.qid}}">
            提优训练
          </a>
        </div>
        <div class="item"></div>
      </div>
    </div>

    <!--<highchart id="chart" config="chartConfig" style="width:80%;height: 200px;margin:0 auto"></highchart>-->
  </ion-content>
</ion-view>
