<style>
    table{width:80%; border:solid #d1d3d6; border-width:1px 0px 0px 1px; margin: 20px auto}
    td{border:solid #d1d3d6; border-width:0px 1px 1px 0px; padding-left:10px; text-align: center}
</style>

<ion-view view-title="首页">
    <ion-content class="padding">

        <h1>区属考试整体知识点及能力点得分率统计表</h1>
        <table>
            <tr>
                <td></td>
                <td>知识点\能力点</td>
                <td>识记</td>
                <td>理解</td>
                <td>应用</td>
                <td>分析</td>
                <td>综合</td>
                <td>评价</td>
                <!--<td>总得分率</td>-->
            </tr>
            <tbody ng-repeat="item in data.schApKp">
            <tr ng-repeat="i in item.detail">
                <td ng-if="$index == 0" rowspan="{{item.detail.length}}">{{item.schname}}</td>
                <td>{{i.kpname}}</td>
                <td>{{i.scoreDetail[0].kapScore * 100}}</td>
                <td>{{i.scoreDetail[1].kapScore * 100}}</td>
                <td>{{i.scoreDetail[2].kapScore * 100}}</td>
                <td>{{i.scoreDetail[3].kapScore * 100}}</td>
                <td>{{i.scoreDetail[4].kapScore * 100}}</td>
                <td>{{i.scoreDetail[5].kapScore * 100}}</td>
                <!--<td>0</td>-->
            </tr>
            </tbody>
        </table>

<!--        <h1>区属各小学整体知识点得分率统计表</h1>
        <table>
            <tr>
                <td>知识点</td>
                <td ng-repeat="item in data.kpSchPropCount[0].detail">{{item.schname}}</td>
                <td>区平均分</td>
            </tr>
            <tbody>
            <tr ng-repeat="item in data.kpSchPropCount">
                <td>{{item.kpname}}</td>
                <td ng-repeat="i in item.detail">{{i.kpAreaScore}}</td>
                <td>{{item.detail[0].kpSchScore}}</td>
            </tr>
            </tbody>
        </table>-->

        <!--<highchart id="chart" config="chartConfig" style="height: 240px"></highchart>-->

        <table>
            <tr>
                <td></td>
                <td>知识点</td>
                <td>分值占比</td>
                <td>学校均分</td>
                <td>学校得分率</td>
                <td>区平均分</td>
                <td>区得分率</td>
            </tr>
            <tbody ng-repeat="item in data.kpSchScoreAbility">
            <tr ng-repeat="i in item.detail">
                <td ng-if="$index == 0" rowspan="{{item.detail.length}}" style="text-align: center;vertical-align:middle;">
                    <a href="#/tab/school/{{item.schid}}">{{item.schname}}</a>
                </td>
                <td>{{i.kpname}}</td>
                <td>{{i.kpSchProp*100}}</td>
                <td>{{i.kpSchAvgScore}}</td>
                <td>{{i.kpSchScore*100}}</td>
                <td>{{i.kpAreaAvgScore}}</td>
                <td>{{i.kpAreaScore*100}}</td>
            </tr>
            </tbody>
        </table>

        <highchart id="chart1" config="chartConfig1" style="height: 240px"></highchart>

    </ion-content>
</ion-view>
