<style>
  table{width:80%; border:solid #d1d3d6; border-width:1px 0px 0px 1px; margin: 20px auto}
  td{border:solid #d1d3d6; border-width:0px 1px 1px 0px; padding-left:10px; text-align: center}
</style>

<ion-view view-title="首页">
  <ion-content class="padding">

    <h1>区属考试整体知识点及能力点得分率统计表</h1>
    <table>
      <tr>
        <td></td>
        <td>知识点\能力点</td>
        <td>识记</td>
        <td>理解</td>
        <td>应用</td>
        <td>分析</td>
        <td>综合</td>
        <td>评价</td>
        <td>总得分率</td>
      </tr>
      <tr>
        <td rowspan="6">第一小学</td><td>知识点1</td><td>87</td><td>95</td><td>67</td><td>67</td><td>34</td><td>64</td><td>54</td>
      </tr>
      <tr>
        <td>知识点2</td><td>87</td><td>95</td><td>67</td><td>67</td><td>34</td><td>64</td><td>54</td>
      </tr>
      <tr>
        <td>知识点3</td><td>87</td><td>95</td><td>67</td><td>67</td><td>34</td><td>64</td><td>54</td>
      </tr>
      <tr>
        <td>知识点4</td><td>87</td><td>95</td><td>67</td><td>67</td><td>34</td><td>64</td><td>54</td>
      </tr>
      <tr>
        <td>知识点5</td><td>87</td><td>95</td><td>67</td><td>67</td><td>34</td><td>64</td><td>54</td>
      </tr>
      <tr>
        <td>知识点6</td><td>87</td><td>95</td><td>67</td><td>67</td><td>34</td><td>64</td><td>54</td>
      </tr>
    </table>




    <table>
      <tr>
        <td></td>
        <td>知识点</td>
        <td>分值占比</td>
        <td>班级均分</td>
        <td>班级得分率</td>
        <td>学校平均分</td>
        <td>学校得分率</td>
      </tr>
      <tr><td rowspan="5" style="text-align: center;vertical-align:middle;">
        <a href="#/tab/class/1">三年二班</a>
      </td><td>知识点1</td><td>14%</td><td>12</td><td>85.71%</td><td>11</td><td>78.57%</td></tr>
      <tr><td>知识点2</td><td>30%</td><td>26</td><td>86.67%</td><td>27</td><td>90.00%</td></tr>
      <tr><td>知识点3</td><td>30%</td><td>26</td><td>86.67%</td><td>27</td><td>90.00%</td></tr>
      <tr><td>知识点4</td><td>30%</td><td>26</td><td>86.67%</td><td>27</td><td>90.00%</td></tr>
      <tr><td>知识点5</td><td>30%</td><td>26</td><td>86.67%</td><td>27</td><td>90.00%</td></tr>
      <tr><td rowspan="5" style="text-align: center;vertical-align:middle;">
        <a href="#/tab/class/1">三年三班</a>
      </td><td>知识点1</td><td>14%</td><td>12</td><td>85.71%</td><td>11</td><td>78.57%</td></tr>
      <tr><td>知识点2</td><td>30%</td><td>26</td><td>86.67%</td><td>27</td><td>90.00%</td></tr>
      <tr><td>知识点3</td><td>30%</td><td>26</td><td>86.67%</td><td>27</td><td>90.00%</td></tr>
      <tr><td>知识点4</td><td>30%</td><td>26</td><td>86.67%</td><td>27</td><td>90.00%</td></tr>
      <tr><td>知识点5</td><td>30%</td><td>26</td><td>86.67%</td><td>27</td><td>90.00%</td></tr>
    </table>

    <highchart id="chart" config="chartConfig" style="height: 240px"></highchart>
  </ion-content>
</ion-view>
